#page-title, .page-title {
  font-weight: 200;
  font-size: 225%;
}

//hide page title on article full page
.node-type-article #page-title,
.front #page-title {
  display: none !important;
}

#content {
  margin-bottom: 1.5em;
  ul {
    @extend %default-ul;
    //drupal ipe etc
    &.inline {
      list-style-type: none;
      margin: 0;
      padding: 0;
      
      li {
        display: inline;
      }
    }
  }
  ol {
    @extend %default-ol;
  }
}

.node-article {
  
  // full page
  .article-header-row {
    @include outer-container;
    .article-picture {
      @include media($medium-screen) {
        @include span-columns(4);
      }
    }
    .article-titles {
      @include media($medium-screen) {
        @include span-columns(8);
      }
    }
  }
  .article-main-row {} //todo
  
  // teaser
  &.view-mode-teaser {
    .article-picture {
      @include media($medium-screen) {
        @include span-columns(4);
      }
    }
    .article-titles {
      @include media($medium-screen) {
        @include span-columns(8);
      }
    }
  }
  // alternate
  &.view-mode-alternate {
    .article-picture {
      @include media($medium-screen) {
        @include span-columns(4);
      }
    }
    .article-titles {
      @include media($medium-screen) {
        @include span-columns(8);
      }
    }
  }
  
  .article-section {
    @extend .badge;
    @extend .badge-primary;
    @extend .badge-small;
    font-weight: normal;
  }
  .article-title {
    margin-bottom: 0;
    font-size: 1.25em;
    font-weight: normal;
  }
  // full page
    .article-title-big {
    font-size: 2.25em;
    margin-bottom: 0.75em;
  }
  .article-meta {
    color: #888;
    font-size: 12px;
  }
  .article-teaser {
    color: #666;
  }
  
}

// views news page

.view-news-all.panelnews .view-content {
  @include outer-container;
  
  .views-row {
    @include span-columns(6);
    @include omega(2n);
  }
}

.view-child-articles .view-content, .view-news-all .view-content {
  .node-article {
    margin-bottom: 1.5em;
  }
}