#site-header {
//   -webkit-linear-gradient(#e5bec5 10%, #e9ada5 50%, #c98ea2 100%);
  background-color: #e2c2cd;
  @include background-image(linear-gradient(lighten(#e5bec5, 10%) 10%, lighten(#e9ada5, 10%) 50%, lighten(#c98ea2, 15%) 100%));
  margin: 0 0 0 0;
  padding-top: 15px;
  .branding {
    @include media($medium-screen) {
      @include outer-container;
      @include span-columns(12);
    }
    .site-logo {
      float: left;
      margin: 0 15px 0;
    }
    .site-name {
      font-size: 155%;
      margin: 15px 0 0;
      line-height: 1.75;
      
      a:link, a:visited {
        color: #222;
      }
      a:hover, a:active {
        color: #441111;
      }
    }
    .site-slogan {
      font-weight: 200;
      font-size: 100%;
      margin: 0;
      line-height: 1.2;
      color: #444;
    }
  }
  .jc-menu-main {
    clear: both;
    float: none;
    margin: 10px 0 0;
  }
}