// mobile
//menu sf-menu sf-main-menu sf-style-none sf-total-items-1 sf-parent-items-0 sf-single-items-1 superfish-processed sf-accordion sf-expanded
// desktop
//menu sf-menu sf-main-menu sf-horizontal sf-style-none sf-total-items-1 sf-parent-items-0 sf-single-items-1 superfish-processed sf-js-enabled sf-shadow

/*
 * Sample SCSS for adding Superfish styles to themes.
 *
 * Instructions:
 * 
 * 1. Change the #block-superfish-1 (below) to the ID of your Superfish menu.
 *
 * 2. Add the SCSS to your theme, either as a separate SCSS file or as a part of the main SCSS file.
 *
 * 3. Note that by removing the .sf-style-none, the style will be applied to the menu regardless of
 *    the Style selected in the block configuration.
 *
 */

// sidebar menu

.sidebar .block-menu-block {
  li {
    line-height: 1;
    margin-bottom: 0.5em;
  }
  h2 {
    border-bottom: 1px solid $light-gray;
    padding: 0.5em 0;
    font-weight: normal;
    font-size: 1.3125em;
  }
  .active-trail > a.active-trail {
  	color: #666;
    &:active,
    &:focus,
    &:hover {
      color: darken($action-color, 15%);
    }
  }
}

// more link

.arrow_box {
	position: relative;
	background: darken($action-color, 15%);
}
.arrow_box:after {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-left-color: darken($action-color, 15%);
	border-width: 22px;
	margin-top: -22px;
}



// You can add these variables to your _base.scss
$superfish-1-color: #333;
$superfish-1-background-color-level-first: #fff;
$superfish-1-background-color-level-second: lighten(#896598, 30%);
$superfish-1-background-color-level-third: lighten(#b989bc, 30%);
$superfish-1-background-color-level-fourth: lighten(#765c9b, 30%);

.jc-menu-main {
	.sf-style-none {
		float: left;
		margin: 0;
		padding: 0;
		&.sf-navbar {
			width: 100%;
			background: $superfish-1-background-color-level-first;
		}
		ul {
			padding-left: 0;
			&.sf-megamenu li {
				&.sf-megamenu-wrapper {
					background: $superfish-1-background-color-level-fourth;
					li {
						background: transparent;
					}
				}
			}
		}
		a {
			color: $superfish-1-color;
			padding: 0.75em 1em;
			&.sf-with-ul {
				padding-right: 2.25em;
			}
			&:focus {
				background: $superfish-1-background-color-level-fourth;
				outline: 0;
			}
			&:hover {
				background: $superfish-1-background-color-level-fourth;
				outline: 0;
			}
			&:active {
				background: $superfish-1-background-color-level-fourth;
				outline: 0;
			}
		}
		.active-trail > a {
			color: lighten($superfish-1-color, 10%);
			padding: 0.75em 1em;
      font-weight: bold;
			&.sf-with-ul {
				padding-right: 2.25em;
			}
			&:focus {
				background: $superfish-1-background-color-level-fourth;
				outline: 0;
			}
			&:hover {
				background: $superfish-1-background-color-level-fourth;
				outline: 0;
			}
			&:active {
				background: $superfish-1-background-color-level-fourth;
				outline: 0;
			}
		}
		span {
			&.nolink {
				color: $superfish-1-color;
				padding: 0.75em 1em;
				&.sf-with-ul {
					padding-right: 2.25em;
				}
				&:hover {
					background: $superfish-1-background-color-level-fourth;
					outline: 0;
				}
			}
			&.sf-description {
				color: $superfish-1-color;
				display: block;
				font-size: 0.833em;
				line-height: 1.5;
				margin: 5px 0 0 5px;
				padding: 0;
			}
		}
		&.rtl {
			span {
				&.sf-description {
					margin: 5px 5px 0 0;
				}
				&.nolink.sf-with-ul {
					padding-left: 2.25em;
					padding-right: 1em;
				}
			}
			a.sf-with-ul {
				padding-left: 2.25em;
				padding-right: 1em;
			}
		}
		li {
			background: $superfish-1-background-color-level-first;
			li {
				background: $superfish-1-background-color-level-second;
				li {
					background: $superfish-1-background-color-level-third;
				}
			}
			&:hover {
				background: $superfish-1-background-color-level-fourth;
				outline: 0;
				> ul {
					top: 40px;
				}
			}
			&.sfHover {
				background: $superfish-1-background-color-level-fourth;
				outline: 0;
				> ul {
					top: 40px;
				}
			}
		}
		.sf-sub-indicator {
			background-image: url('../images/arrows-777777.png');
		}
	}
  // mobile accordion drop-down
  .sf-accordion {
    padding-bottom: 1em;
  }
	div.sf-accordion-toggle {
		&.sf-style-none a {
			background: $superfish-1-background-color-level-first;
			color: $superfish-1-color;
			padding: 0.75em 1em;
      display: block;
      float: left;
			&.sf-expanded {
				background-color: $superfish-1-background-color-level-fourth;
				font-weight: bold;
			}
		}
	}
	.sf-menu.sf-style-none {
		&.rtl {
			&.sf-accordion li {
				li {
					a {
						padding-left: auto;
						padding-right: 2em;
					}
					li {
						a {
							padding-left: auto;
							padding-right: 3em;
						}
						li {
							a {
								padding-left: auto;
								padding-right: 4em;
							}
							li {
								a {
									padding-left: auto;
									padding-right: 5em;
								}
								span.nolink {
									padding-left: auto;
									padding-right: 5em;
								}
							}
							span.nolink {
								padding-left: auto;
								padding-right: 4em;
							}
						}
						span.nolink {
							padding-left: auto;
							padding-right: 3em;
						}
					}
					span.nolink {
						padding-left: auto;
						padding-right: 2em;
					}
				}
			}
			ul.sf-megamenu {
				li.sf-megamenu-wrapper {
					ol li {
						&.sf-megamenu-column {
							float: right;
						}
					}
				}
			}
		}
		&.sf-accordion li {
			&.sf-expanded {
				background-color: $superfish-1-background-color-level-fourth;
				> {
					a {
						font-weight: bold;
					}
					span.nolink {
						font-weight: bold;
					}
				}
			}
			li {
				a {
					padding-left: 2em;
				}
				li {
					a {
						padding-left: 3em;
					}
					li {
						a {
							padding-left: 4em;
						}
						li {
							a {
								padding-left: 5em;
							}
							span.nolink {
								padding-left: 5em;
							}
						}
						span.nolink {
							padding-left: 4em;
						}
					}
					span.nolink {
						padding-left: 3em;
					}
				}
				span.nolink {
					padding-left: 2em;
				}
			}
			a.sf-accordion-button {
				font-weight: bold;
				position: absolute;
				right: 0;
				top: 0;
				z-index: 499;
			}
		}
		ul.sf-megamenu {
			li.sf-megamenu-wrapper {
				ol {
					margin: 0;
					padding: 0;
					li {
						margin: 0;
						padding: 0;
						&.sf-megamenu-column {
							display: inline;
							float: left;
						}
					}
				}
				a.menuparent {
					font-weight: bold;
				}
				span.nolink {
					&.menuparent {
						font-weight: bold;
					}
				}
			}
		}
	}
}

// views summary (year) in news etc.

ul.views-summary {
  list-style-type: none;
  margin: 1em 0;
  padding: 0;
  #content & {padding-left: 0;}
  li {
    margin: 0 1em 0 0;
    border-radius: $base-border-radius;
    border: 1px solid #efefef;
    display: inline-block;
    line-height: 1;
    padding: 0.75em 1em;
    vertical-align: middle;
    white-space: nowrap;
  }
  a.active {
    font-weight: bold;
    color: $base-font-color;
  }
}