// generic panels content



// #content or layout

.demonstratie-layout-content {
  
  .row {
    margin-bottom: 2em;
  }
  .pane-title {
    font-size: 125%;
  }
  .banner-title-style {
    font-size: 155%;
    font-weight: 200;
    color: #666;
    border-top: 1px solid #efefef;
  }
  
}