// generic paragraphs content

// build modes and reference field
// paragraphs-items paragraphs-items-field-components paragraphs-items-field-components-full paragraphs-items-full


.entity-paragraphs-item {
  @include clearfix;
  
  // components field, any paragraph
  .paragraphs-items-field-components & {
    margin-bottom: 2em;
  }
  // style guide page
  .page-node-19 & {
    border: 1px solid #ccc;
    padding: 10px;
  }
}


// individual bundles

// .paragraphs-item-zp-linked-image {}
.paragraphs-item-zp-images {
  
  @include media($medium-screen) {
    .owl-item {
      padding-right: 10px;
    }
    .owl-item:last-child {
      padding-right: 0;
    }
  }
  
}
// .paragraphs-item-zp-video {}


// individual fields

// used in images
.field-name-field-zp-title {
  @extend h3;
  font-size: 1.25em;
  font-weight: normal
}

// para in para  field-name-field-zp-linked-images

.field-name-field-zp-linked-images {
  
  .entity-paragraphs-item {
    padding: 0; border: none;
  }
  
  & > .field-items {
    @include outer-container;
    
    & > .field-item {
      @include media($medium-screen) {
        @include span-columns(3);
        @include omega(4n);
      }
    }
    
    
  }
}