body {
  margin: 0;
  padding: 0;

  main {
    @include outer-container;
    padding: 3em 0;
  }

  &.no-sidebars {
    main {
      section#content {
        @include span-columns(12);
      }
    }
  }

  &.one-sidebar.sidebar-first {
    main {
      aside {
        &#sidebar-first {
          @include span-columns(3);
        }
      }

      section#content {
        @include span-columns(9);
      }
    }
  }

  &.one-sidebar.sidebar-second {
    main {
      aside {
        &#sidebar-second {
          @include span-columns(3);
        }
      }

      section#content {
        @include span-columns(9);
      }
    }
  }

  &.two-sidebars {
    main {
      aside {
        &#sidebar-first {
          @include span-columns(3);
        }

        &#sidebar-second {
          @include span-columns(3);
        }
      }

      section#content {
        @include span-columns(6);
      }
    }
  }
}

.outer-wrapper {
  @include outer-container;
  padding: 0 1em;
}


.main-backdrop {
  @include media($xl-screen) {
    background: url(/sites/japancenter.khv.ru/files/bg-sakura6.jpg) bottom center no-repeat;
    background-size: cover;//100% auto;
    background-attachment: fixed;
  }
  padding-top: 1em;
}